Repository prgrms-aibe-devcourse/AIBE1_FinalProject_LastDance_BE, pull requests merged in 2025-09, with the labels that each got.

#218 refactor: 커뮤니티 v2 리팩토링
  src/main/java/store/lastdance/controller/community/CommentV2Controller.java
  src/main/java/store/lastdance/controller/community/CommunityV2Controller.java
  src/main/java/store/lastdance/converter/CommentConverter.java
  src/main/java/store/lastdance/converter/PostConverter.java
  src/main/java/store/lastdance/dto/youthpolicy/YouthPolicyDTO.java
  src/main/java/store/lastdance/service/community/CommentV2QueryService.java
  src/main/java/store/lastdance/service/community/CommentV2QueryServiceImpl.java
  src/main/java/store/lastdance/service/community/CommentV2Service.java
  src/main/java/store/lastdance/service/community/CommentV2ServiceImpl.java
  src/main/java/store/lastdance/service/community/CommunityV2QueryService.java
  src/main/java/store/lastdance/service/community/CommunityV2QueryServiceImpl.java
  src/main/java/store/lastdance/service/community/CommunityV2Service.java
  src/main/java/store/lastdance/service/community/CommunityV2ServiceImpl.java
  src/main/java/store/lastdance/service/community/ReportV2Service.java
  src/main/java/store/lastdance/service/community/ReportV2ServiceImpl.java
Labels: Refactor, 코드 리뷰, Community

#240 refector: 캘린더 서비스, 컨버터 테스트 코드 추가
  build.gradle
  src/main/java/store/lastdance/controller/calendar/CalendarController.java
  src/main/java/store/lastdance/controller/calendar/CalendarV2Controller.java
  src/main/java/store/lastdance/converter/calendar/CalendarConverter.java
  src/main/java/store/lastdance/dto/calendar/DateRangeDTO.java
  src/main/java/store/lastdance/dto/calendar/request/CreateCalendarRequestDTO.java
  src/main/java/store/lastdance/dto/calendar/request/UpdateCalendarRequestDTO.java
  src/main/java/store/lastdance/dto/calendar/response/CalendarResponseDTO.java
  src/main/java/store/lastdance/dto/expense/MonthlyExpenseTrendResponseDTO.java
  src/main/java/store/lastdance/service/calendar/CalendarService.java
  src/main/java/store/lastdance/service/calendar/CalendarServiceImpl.java
  src/main/java/store/lastdance/service/calendar/CalendarV2Service.java
  src/main/java/store/lastdance/service/calendar/CalendarV2ServiceImpl.java
  src/main/java/store/lastdance/validation/calendar/CalendarValidator.java
  src/test/java/store/lastdance/converter/calendar/CalendarConverterTest.java
  src/test/java/store/lastdance/service/calendar/CalendarServiceTest.java
Labels: Test, 코드 리뷰, Calendar

#238 refector: 알림 서비스/컨트롤러 V2 명명 규칙 적용 및 Converter 도입
  src/main/java/store/lastdance/controller/notification/NotificationSettingV2Controller.java
  src/main/java/store/lastdance/converter/notification/NotificationSettingConverter.java
  src/main/java/store/lastdance/domain/notification/NotificationSetting.java
  src/main/java/store/lastdance/exception/ErrorCode.java
  src/main/java/store/lastdance/service/notification/NotificationSettingServiceImpl.java
  src/main/java/store/lastdance/service/notification/NotificationSettingV2Service.java
  src/main/java/store/lastdance/service/notification/NotificationSettingV2ServiceImpl.java
Labels: Refactor, 코드 리뷰, Notification
